colorama
Flask==2.0.1
google-cloud-functions
google-cloud-logging
gunicorn==20.1.0
h5py
natsort
pgb-broker-utils>=0.2.47
scikit-learn
seaborn

microlia==2.6.3
# Cloud functions don't support GPUs
# So we download the following wheel that provides pytorch without GPU
https://download.pytorch.org/whl/cpu/torch-1.9.0%2Bcpu-cp37-cp37m-linux_x86_64.whl
# For more details see
# https://stackoverflow.com/questions/55449313/google-cloud-function-python-3-7-requirements-txt-makes-deploy-fail
tqdm
